* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    padding: 0.7rem;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
    font-size: 1.5rem;
}

.navlist {
    justify-content: space-between;
}

.navlist a {
    padding-right: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.navlist button {
    padding: 0.8rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.8rem;

}

.form-div {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.form-class {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 50px;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.form-class button {
    padding: 0.8rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.8rem;
}

.close-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2rem;
    cursor: pointer;
}

.jobs-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 1rem;
}

.jobs-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    background-color: rgba(2, 103, 219, 0.377);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 600px;
    
}

.jobs-div h5 {
    padding-top: 1rem;
}


.comm-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 10px;
    
}
.comm-p {
    display: flex;
    border: 2px solid;
    border-radius: 1rem;
    padding: 0.7rem;
    width: 600px;
}

@media (orientation: portrait){

    .jobs-div {
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    background-color: rgba(2, 103, 219, 0.377);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

}

