* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
    font-size: 2rem;
}

.navlist {
    justify-content: space-between;
}

.navlist a {
    padding-right: 2rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}

.navlist button {
    padding: 0.8rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.8rem;

}

p {
    padding: 5rem;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-div{
    display:flex;
    justify-content: center;
    align-items: center;
}

.form-class {
    display: none;
    flex-direction: column;
    gap: 10px;
    font-size: 50px;
    justify-content: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 10px 10px ;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.form-class button {
    padding: 0.8rem;
    margin-right: 1rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.8rem;
}
.jobs-list{
    
}